.centeredbox {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.title
  {
    float: left; 
    font-size: 20px; 
    font-style: italic; 
    padding: 13px; 
    letter-spacing: 1px;
  }

.hrefs {
    float: left; 
    padding: 28px;
}

#meow {
    background-color: rgba(0, 0, 0, 0.705);
    width: 1000px;
    height: 500px;
    border: 2px solid rgb(71, 71, 71);
}

#scroll {
    overflow: scroll;
    height: 409px;
    scrollbar-width: none;
}


#here {
    color: rgba(220, 0, 81, 0.885);
}
/* socials */

#ro {
    color: rgb(56, 56, 251);
}

#ro:hover {
    color: rgb(47, 128, 248);
}

#tw {
    color: rgb(155, 155, 240);
}

#tw:hover {
    color: rgb(21, 124, 198);
}

#yo {
    color: rgb(228, 32, 32);
}

#yo:hover {
    color: rgb(179, 18, 10);
}