body {
    background-color: rgba(0, 0, 0, 0.932);
    justify-content: center;
    text-align: center;
}


h1,
p {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: rgb(255, 82, 146);

    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    text-decoration: none;
}

a:hover {
    color: rgba(210, 28, 134, 0.814);
}

li {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea {
    background-color: black;
    color: white;
}